<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Recipe Box</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
<div class="top-bar">
  <div class="container">
    <a class="logo" href="/">Recipe Box</a>
    <a class="logo" href="/search">Search</a>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
