<h1>Search By Ingredient</h1>

<form class = "search">Search:
  <input class = "search_form" type="text" placeholder="Ingredient" value = "<%= @ingredient1 %>">
  <input class = "search_form" type="text" placeholder="Ingredient" value = "<%= @ingredient2 %>">
  <input class = "search_form" type="text" placeholder="Ingredient" value = "<%= @ingredient3 %>">
  <input class = "search_form" type = "submit">
</form>
