<h1>Recipes</h1>

  <ul>
    <% recipes.each do |recipe| %>
    <li><a href="/recipes/<%= recipe['id']%>">
    <%= recipe['name'] %></a>
    </li>
    <%end%>
  </ul>

<div>
  <% if !on_first_page?(@page_num) %>
    <a href="/recipes?page=<%= @page_num - 1 %>">Previous</a>
  <% end %>
  <% if on_last_page?(@page_num) %>
    <a href="/recipes?page=<%= @page_num + 1 %>">Next</a>
  <% end %>
</div>
