<h1><%= recipe[0]['recipe']%></h1>

<h3>Description</h3>
<%= recipe[0]['description']%>

<h3>Instructions</h3>
<%= recipe[0]['instructions']%>

<h3>Ingredients</h3>
  <ul>
    <% recipe.each do |ingredient|%>
    <li><%= ingredient['ingredient']%></li>
    <%end%>
  </ul>

<br><br>
<a href="/recipes" class = "back_button">Back to Recipes</a>
